:root{
--first-page-color :#FFFFFF;
--text :#2E2F42;
--main-font : Roboto,sans-serif
}
.conteiner{
    width: 1158px;
    padding: 0 15px;
    margin: auto;
}

body{
    background-color: var(--first-page-color);
font-family: var(--main-font);
color: var(--text);
font-size: 16px;
letter-spacing: 0.02em;


}
.header-div{
    display: flex;
    align-items: center;
}

.link-header{
    display: flex;
    padding-left: 76px;
    margin: auto;
   
}
.li-nav{
   margin-right:40px ;
}
.li-nav:last-child{
    margin-right: 332px;
}
        
.nav-link {
display: block;
padding-top: 21px;
padding-bottom: 21px;
    font-weight: 500;
    line-height: 1.5;
    color: #2E2F42;
    text-decoration: none;
}


 .current
{
    color: #404BBF;

}


.mail{

    font-weight: 400;
    line-height: 1.5;
    color: #434455;
    text-decoration: none;
}
.mail:hover ,
.mail:focus{
    color: #404BBF;
 text-decoration: none;

}
.phone{
        font-weight: 400;
        line-height: 1.5;
        color: #434455;
        text-decoration: none;
        margin-left: 40px;

}

.contacts{
    display: flex;
}

.phone:hover ,
.phone:focus{
    
    color: #404BBF;
   text-decoration: none;
}


.li-nav .nav-link:hover ,
.li-nav .nav-link:focus{
    font-weight: 500;
    line-height: 1.5; 
    color: #404BBF;
}


.company-motto{
color: #FFFFFF; 
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
   margin-left: auto;
   margin-right: auto;
   width: 500px;
        margin-bottom: 48px;
}

.button{

text-align: center;
   min-width:169px;
    display: inline-block;
    padding: 16px 32px;
        gap: 10px;
    border-radius: 4px;
     font-weight: 500;
     line-height: 1.5;
    font-size: 16px;
     letter-spacing: 0.04em;
     color: #FFFFFF;  
        background-color: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        cursor: pointer;
        font-family: inherit;
      
       
    }

.motto-button{
        background-color: #2E2F42;
        text-align: center;
        padding-top: 188px;
        height: 600px;
      
       
}


.button:hover,
.button:active{
        background-color: #404BBF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        
}



.servises{
     
        font-weight: 500;
        font-size: 20px;
        line-height: 1.5;
        color: #2E2F42;
        letter-spacing: 0.02em;
        margin-bottom: 8;
    
    
}
.feature-list{
    display: flex;
      margin-top: 120px;
      margin-bottom: 120px;
        align-items: center;
}
.feature-list .item{
        width: 264px;
        margin-right: 24px;
       
}




.servises-description{
        line-height: 1.5;
        color: #434455;

        
}
.list-ul{
    display: flex;
    margin-left: 156px;
    margin-right: 156px;
    margin-bottom: 120px;
    
}
.list-ul .li-doing{
    margin-right: 24px; 
       align-items: center;
       margin: auto;
}


.work{
text-align: center;
text-transform: capitalize;
margin-bottom: 72px;



    letter-spacing: 0.02em;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.1;
        color: #2E2F42;
}


.team{
text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;



    letter-spacing: 0.02em;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    color: #2E2F42;
}





.team-section{
    background-color: #F4F4FD;
padding-top: 120px;
padding-bottom: 100px;


}
.team-ul{
    display: flex;
    margin-left: 156px;
        margin-right: 156px;
       
        
}



.images{
    background-color: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
        border-radius: 0px 0px 4px 4px;
    width: 264px;
        height: 380px;
        left: 156px;
        top: 1780px;
          margin-right: 24px;
          text-align: center;

}
.workers-names{
 
        font-weight: 500;
            font-size: 20px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #2E2F42;

                margin-bottom: 8px;
}
.professions{
            line-height: 1.5;        
            color: #434455;
      
}

.logo{

    
        font-family: 'Raleway';
        font-weight: 800;
        font-size: 18px;
        line-height: 1.5;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2E2F42;
            text-decoration: none;
}
.logo2{
font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
     color: #4D5AE5;
    text-decoration: none;
}
.logo3{
   
font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
     color: #F4F4FD;
    text-decoration: none;
    
   
}

.footer{
    background-color: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px; 
    padding-left: 156px;
}
.recomendation{

        width: 264px;
            height: 72px;
        line-height: 24px;
        color: #E7E9FC;
       
}
.list-styles{
    list-style: none;
}

